</nav>

 <nav>
   <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, :method => :delete  do %>
     <i class="fa-solid fa-circle-user"></i>
    <% end %>
    <a href="<%= new_pet_path %>"><i class="fa-solid fa-plus"></i></a>
    <a href="<%= pets_path %>"><i class="fa-solid fa-paw"></i></a>
  <% else %>
    <a href="<%=new_user_session_path %>"><i class="fa-solid fa-circle-user"></i></a>
    <a href="<%= pets_path %>"><i class="fa-solid fa-paw"></i></a>
  <%end%>
 </nav>
